.class {
    width: 30px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#resultsviewentry{
  width: 385px;
  border: 1px solid;
  /*margin: : 200 200 200 200;*/
}

.search-bar {
  margin: 0;
}